<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>User Info</title>
</head>
<body>
    <div>
        <label>Username: </label>
        <label th:text="${user.getUsername()}"></label>
        <br>
        <label>Age: </label>
        <label th:text="${user.getAge()}"></label>
        <br>
        <label>Email: </label>
        <label th:text="${user.getEmail()}"></label>
        <br>
    </div>
    <form  th:action="@{/logout}" method="POST">
        <input type="submit" value="logout">
    </form>
</form>
</body>
</html>